@use "../index" as *;

.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.6s ease, transform 0.6s ease;

  &.is-visible {
    opacity: 1;
    transform: translateY(0);
  }
}
.grid-image {
  opacity: 0;
  transform: scale(0.95);
  transition: all 0.5s ease;

  &.is-visible {
    opacity: 1;
    transform: scale(1);
  }
}

.Project-detail-page {
  width: 100%;
  gap: 180px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.Project-detail-container {
  width: 100%;
  min-height: calc(100vh - 84px); // full viewport height minus header
  gap: 64px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.Project-detail-card {
  width: 100%;
  padding: 112px 42px 48px 42px;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 21px;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--colors-primary-color-1);
  box-shadow: 0px 3px 8px 0px rgba(24, 24, 24, 0.24);
}

.Project-dates {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 14px;
  justify-content: flex-start;
  align-items: center;
  @include desktop-project-date;
  color: var(--colors-primary-color-4);
}

.Time-container {
  width: 47px;
  height: 31px;
  color: var(--colors-primary-color-1);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 6px;
  justify-content: flex-start;
  align-items: center;
  padding: 6px 8px;
  background-color: #ffffff;
}

.Project-meta-data {
  width: 100%;
  @include desktop-project-card-title;
  color: var(--colors-primary-color-4);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 24px;
  justify-content: flex-start;
  align-items: flex-start;
}

.Project-info {
  width: 100%;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 24px;
  justify-content: flex-start;
  align-items: flex-start;
}

.Project-detail-box {
  width: 267px;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px 120px 0px 0px;

  &.full-width {
    width: 100%;
    padding-right: 0;
  }
}

.title-sub-text {
  color: var(--colors-secondary-color-2);
  @include desktop-project-card-txt;
}

.body-sub-text {
  color: var(--colors-primary-color-4);
  @include desktop-project-card-txt;
  width: 100%;
}

.Project-sub-info {
  width: 100%;
  border-radius: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 24px 24px;
  justify-content: space-between;
  align-items: center;
}

.Project-showcase-container {
  width: 100%;
  padding: 0 42px;
}

.Project-showcase {
  width: 100%;
  height: 400px;
  overflow-y: auto;
  clip-path: inset(0);
  -webkit-overflow-scrolling: touch;
  border-color: var(--colors-secondary-color-1);
  border-width: 1px;
  border-style: solid;
  background-color: rgb(232, 232, 232);
}

.Image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 10px;
  box-sizing: border-box;
}

.grid-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.Project-overview-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 42px;
}

.Text-container {
  width: 100%;
  padding: 0px 42px 0px 204px;
  border-radius: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 64px;
  justify-content: flex-start;
  align-items: flex-start;

  span {
    color: var(--colors-body-text);
    @include desktop-project-title-light;
    text-align: justify;
  }
}

.Design-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 42px;
}

.Color-pallette-container {
  padding: 0px 42px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.Color-pallette-text {
  display: flex;
  flex-direction: column;
  gap: 8px;

  span:first-child {
    @include desktop-project-card-title;
    color: var(--colors-primary-color-1);
  }

  span:last-child {
    @include desktop-project-title-light;
    color: var(--colors-body-text);
  }
}

.Color-palette {
  display: flex;
  flex-wrap: wrap;
}

.colors-box {
  flex: 1 1 120px;
  min-width: 200px;
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  @include desktop-section-title;
}

.Gallery-placeholder {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--colors-body-text);
  font-style: italic;
}

.Typography-container {
  padding: 0 42px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.Typography-box {
  display: flex;
  flex-direction: column;
  gap: 16px;

  img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
}

.Typography-title {
  @include desktop-project-card-title;
  color: var(--colors-primary-color-1);
}

.Typography-description {
  @include desktop-project-title-light;
  color: var(--colors-body-text);
}

.Typography-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
  justify-content: flex-start;
  align-items: flex-start;
}

.Impact-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.Impact-container {
  padding: 0 146px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.Impact-box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 32px;
  gap: 24px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.16);
}

.Impact-box:hover {
  box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.05), 0px 10px 15px -3px rgba(0, 0, 0, 0.10);
}

.Impact-title {
  @include desktop-project-card-title;
  color: var(--colors-primary-color-1);
}

.Impact-description {
  @include desktop-project-title-light;
  color: var(--colors-body-text);
}

.Impact-meta {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.Impact-label {
  width: 100%;
  font-family: "Lexend", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 300;
  color: #6d6d6d;
}

.Project-texts {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 16px;
  justify-content: flex-start;
  align-items: flex-start;
}

.Project-texts .top {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.Impact-meta .description {
  @include desktop-project-card-txt;
  color: var(--colors-body-text);
}

.Problem-no {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8.5px 16px;
  border-radius: 0px;
  background-color: #181818;
  @include desktop-instuction-text;
  color: var(--colors-primary-color-4);
}

.Back-to-project {
  display: flex;
  justify-content: center;
  padding-top: 24px;
}

.view-all-project {
  width: 220px;
}

/*================== TABLET ==================*/
@media (max-width: 1024px) {
  .Project-detail-card {
    padding: 96px 36px 36px 36px;
  }

  .Text-container {
    padding: 0 36px;
    flex-direction: column;
    gap: 32px;

    span {
      @include tablet-project-title-light;
      margin-top: 0;
    }
  }

  .Color-pallette-container {
    padding: 0 36px;
  }

  .Impact-container {
    padding: 0 36px;
  }

  .Project-showcase-container {
    padding: 0 36px;
  }

  .Typography-container {
    padding: 0 36px;
  }
}

/*================== MOBILE ==================*/
@media (max-width: 580px) {
  .Project-detail-card {
    padding: 72px 24px 24px 24px;
  }

  .Text-container {
    padding: 0 24px;
    flex-direction: column;
    gap: 16px;

    span {
      @include mobile-project-title-light;
      margin-top: 8px;
    }
  }

  .Color-pallette-container {
    padding: 0 24px;
  }

  .Impact-container {
    padding: 0 24px;
  }

  .Project-showcase-container {
    padding: 0 24px;
  }

  .Typography-container {
    padding: 0 24px;
  }

  .Image-grid {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}
