.HeroModel-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;

  canvas,
  video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    object-fit: contain; // ensures full video visible
  }

  video.tablet-video {
    width: 80%;
    height: auto;
  }

  video.mobile-video {
    width: 180%;
    height: auto;
  }

  @media (max-width: 1024px) {
    height: 100%;
  }

  @media (max-width: 580px) {
    height: 100%;
  }
}
