@use '../index' as *;

.Navbar {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 16px 42px;
    background-color: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(5px);
    z-index: 100;
}

.Inner-Navbar {    
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 74px;
    align-items: center;
}

// Default Variant Styles
.Navtext-container .Navigation-Link {
    @extend .desktop-nav-link-text-default;
    color: var(--colors-secondary-color-1);
    padding: 4px 0px;
}

.Navtext-container .Navtext-underline {
    width: 0px;
    height: 1.8px;
    
    background-color: var(--colors-secondary-color-1);
    transform-origin: center center;
    margin-top: 4px;
}

// Hover Variant Styles
.Navtext-container .Navigation-Link:hover {
    color: var(--colors-primary-color-4);
    transition: color 0.3s ease-in-out;
}

.Navtext-container .Navigation-Link:hover + .Navtext-underline {
    width: 100%;
    transition: width 0.3s ease-in-out;
    background-color: var(--colors-primary-color-4);
}

// Active Variant Style
.Navtext-container .Navigation-Link.active {
    color: var(--colors-primary-color-4); // active text color
}

.Navtext-container .Navigation-Link.active + .Navtext-underline {
    width: 100%;                 // make underline visible
    background-color: #ffffff;   // underline color for active
}

.mobile-menu {
    display: none;
}

.Toggle-Menu {
    display: none;
}

//Tablet
@media (max-width: 1024px){
.Navbar {
    height: 72px;
    display: flex;
    align-items: center;
    padding: 12px 36px;
    background-color: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(5px);
    z-index: 100;
}

.nav-links {
    display: flex;
    gap: 48px;
    align-items: center;
}

.Toggle-Menu {
    display: none;
}

// Default Variant Styles
.Navtext-container .Navigation-Link {
    font-family: "Blinker", sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0%;
}

.Navtext-container .Navtext-underline {
    height: 1.4px;
}

}

// Mobile
@media (max-width:580px){
.Navbar {
    height: 64px;
    display: flex;
    align-items: center;
    padding: 8px 24px;
    background-color: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(5px);
    z-index: 100;
}

.nav-links {
    display: none;
}

/* show when menu is open */
.mobile-menu.show {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  background-color: rgba(0, 0, 0, 0.80);
  position: fixed;
  top:64px; 
  left: 0;
  width: 100%;
  height: calc(100vh - 64px);
  padding: 80px;
  z-index: 999;
  backdrop-filter: blur(5px);
}

.Toggle-Menu {
    display: flex;
}

}