@import '../index.scss';

.Navbar {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 16px 42px;
    background-color: #000000;
    backdrop-filter: blur(5px);
    z-index: 100;
    opacity: 0.85;
}

.Inner-Navbar {    
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 74px;
    align-items: center;
}

.nav-links a {
    @extend .desktop-nav-link-text-default;
    color: var(--colors-secondary-color-1);
}

