@use '../index' as *;

.Primary-button-container {
    width: 100%;
    height: 50px;
    
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 13px 24px;
    background-color: var(--colors-primary-color-1);
    box-shadow: 7px 7px 0px 0px rgba(24, 24, 24, 0.20);
    transition: all 0.25s ease;
}

.Primary-button-container span {
    @include desktop-secondary-button-default;
    color: var(--colors-primary-color-4);
}

.Primary-button-container.hover {
    box-shadow: 4px 4px 0px 0px rgba(24, 24, 24, 0.30);
    background-color: var(--colors-primary-color-4);
    border: 1px solid var(--colors-secondary-color-3);
    box-sizing: border-box;
    transform: scale(1.04);
}

.Primary-button-container.hover span {
  color: var(--colors-primary-color-1);
}

.Primary-button-container.active {
    background-color: #181818;
    transform: scale(0.95);
    box-shadow: inset 2px 2px 5px rgba(24, 24, 24, 0.30);
}

.Primary-button-container.active span {
  color: var(--colors-primary-color-4);
}