@use '../index' as *;

.Project-card {
    width: 100%;
    height: 780px;
    
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 72px;
    justify-content: flex-start;
    align-items: flex-start;
}

.Project-list-container {
    width: 100%;
    height: 195px;
    
    padding: 0px 146px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.Project-row {
    width: 100%;
    height: 195px;
    
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.Project-row:hover {
    width: 100%;
    height: 195px;
    
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}