@use "../index" as *;

.Secondary-button-container {
    width: 100%;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--colors-secondary-color-1);
    padding: 12px 24px;
}

.Secondary-button-container span {
    @include desktop-secondary-button-default;
    color: var(--colors-body-text);
}