/* --- GLOBAL RESET --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

/* --- VARIABLES --- */
:root {
  /* Family */
  --family-primary: Inter;

  /* Weights */
  --weights-thin: 100;
  --weights-extralight: 200;
  --weights-light: 300;
  --weights-regular: 400;
  --weights-medium: 500;
  --weights-semibold: 600;
  --weights-bold: 700;
  --weights-extrabold: 800;
  --weights-black: 900;

  /* Colors */
  --colors-bg-color: #ffffff;
  --colors-project-color-1: #80bf77;
  --colors-project-color-1-2: #deefe0;
  --colors-body-text: #333333;
  --colors-name-text: #efefef;
  --colors-secondary-color-1: #cccccc;
  --colors-secondary-color-2: #6d6d6d;
  --colors-secondary-color-3: #4c4c4c;
  --colors-primary-color-1: #181818;
  --colors-primary-color-2: #141414;
  --colors-primary-color-3: #101010;
  --colors-primary-color-4: #ffffff;

  /* Padding */
  --desktop-padding: 42px;
  --tablet-padding: 36px;
  --mobile-padding: 24px;
}

/* --- MIXINS --- */

/* --- Desktop Text Styles --- */
@mixin desktop-section-title {
  font-family: "Blinker", sans-serif;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 1%;
}

@mixin desktop-instuction-text {
  font-family: "Blinker", sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0%;
}

@mixin desktop-hero-name {
  font-family: "Lexend", sans-serif;
  font-size: 70px;
  font-weight: 600;
  line-height: 84px;
  letter-spacing: 0%;
}

@mixin desktop-hero-roles {
  font-family: "Lexend", sans-serif;
  font-size: 42px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 0%;
}

@mixin desktop-nav-link-text-default {
  font-family: "Blinker", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0%;
}

@mixin desktop-project-title-dark {
  font-family: "Lexend", sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0%;
}

@mixin desktop-project-title-light {
  font-family: "Lexend", sans-serif;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0%;
}

@mixin desktop-project-date {
  font-family: "Blinker", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0%;
}

@mixin desktop-project-card-title {
  font-family: "Lexend", sans-serif;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 0%;
}

@mixin desktop-project-card-txt {
  font-family: "Lexend", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

@mixin desktop-project-number {
  font-family: "Lexend", sans-serif;
  font-size: 70px;
  font-weight: 400;
  line-height: 60px;
}

@mixin desktop-secondary-button-default {
  font-family: "Blinker", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

@mixin desktop-footer-touch-link {
  font-family: "Blinker", sans-serif;
  font-size: 42px;
  font-weight: 600;
}

/* --- Tablet Text Styles --- */
@mixin tablet-section-title {
  font-family: "Blinker", sans-serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.5%;
}

@mixin tablet-instuction-text {
  font-family: "Blinker", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

@mixin tablet-hero-name {
  font-family: "Lexend", sans-serif;
  font-size: 60px;
  font-weight: 500;
  line-height: 68px;
}

@mixin tablet-hero-roles {
  font-family: "Lexend", sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: 0%;
}

@mixin tablet-nav-link-text-default {
  font-family: "Blinker", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0%;
}

@mixin tablet-project-title-dark {
  font-family: "Lexend", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0%;
}

@mixin tablet-project-title-light {
  font-family: "Lexend", sans-serif;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0%;
}

@mixin tablet-project-date {
  font-family: "Blinker", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0%;
}

@mixin tablet-project-card-title {
  font-family: "Lexend", sans-serif;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0%;
}

@mixin tablet-project-card-txt {
  font-family: "Lexend", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0%;
}

@mixin tablet-project-number {
  font-family: "Lexend", sans-serif;
  font-size: 64px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0%;
}

@mixin tablet-secondary-button-default {
  font-family: "Blinker", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0%;
}

@mixin tablet-footer-touch-link {
  font-family: "Blinker", sans-serif;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0%;
}

/* --- Mobile Text Styles --- */
@mixin mobile-section-title {
  font-family: "Blinker", sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1%;
}

@mixin mobile-instuction-text {
  font-family: "Blinker", sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0%;
}

@mixin mobile-nav-link-text-default {
  font-family: "Blinker", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0%;
}

@mixin mobile-nav-link-text-hover {
  font-family: "Blinker", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0%;
}

@mixin mobile-hero-name {
  font-family: "Lexend", sans-serif;
  font-size: 52px;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: 0%;
}

@mixin mobile-hero-roles {
  font-family: "Lexend", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
}

@mixin mobile-project-title-dark {
  font-family: "Lexend", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0%;
}

@mixin mobile-project-title-light {
  font-family: "Lexend", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0%;
}

@mixin mobile-project-date {
  font-family: "Blinker", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0%;
}

@mixin mobile-project-card-title {
  font-family: "Lexend", sans-serif;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 0%;
}

@mixin mobile-project-card-txt {
  font-family: "Lexend", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0%;
}

@mixin mobile-project-number {
  font-family: "Lexend", sans-serif;
  font-size: 70px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0%;
}

@mixin mobile-secondary-button-default {
  font-family: "Blinker", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
}

@mixin mobile-footer-touch-link {
  font-family: "Blinker", sans-serif;
  font-size: 42px;
  font-weight: 600;
  letter-spacing: 0%;
}

/* --- Shadow / Effect Mixins --- */
@mixin mobile-secondary-button {
  box-shadow: inset 0px 8px 24px -18px rgba(24, 24, 24, 0.3);
}

@mixin mobile-project-row-hover {
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.18);
}

@mixin mobile-project-row-selected {
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.24);
}

@mixin tablet-secondary-button {
  box-shadow: inset 0px 8px 24px -18px rgba(24, 24, 24, 0.3);
}

@mixin tablet-project-row-hover {
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.18);
}

@mixin tablet-project-row-selected {
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.24);
}

@mixin desktop-project-row-hover {
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.18);
}

@mixin desktop-project-row-selected {
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.24);
}

@mixin desktop-secondary-button-hover {
  box-shadow: inset 0px 8px 24px -18px rgba(24, 24, 24, 0.3);
}
