/* --- GLOBAL RESET --- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {

  /* Family (Base Tokens) */
  --family-primary: Inter;

  /* Weights (Base Tokens) */
  --weights-thin: 100;
  --weights-extralight: 200;
  --weights-light: 300;
  --weights-regular: 400;
  --weights-medium: 500;
  --weights-semibold: 600;
  --weights-bold: 700;
  --weights-extrabold: 800;
  --weights-black: 900;

  /* Title (Base Tokens) */
  --title-title-1-fontsize: 72px;
  --title-title-1-lineheight: 88px;
  --title-title-1-letterspacing: -0.8px;
  --title-title-2-fontsize: 64px;
  --title-title-2-lineheight: 76px;
  --title-title-2-letterspacing: -0.8px;
  --title-title-3-fontsize: 56px;
  --title-title-3-lineheight: 68px;
  --title-title-3-letterspacing: -0.6px;

  /* Heading (Base Tokens) */
  --heading-h1-fontsize: 56px;
  --heading-h1-lineheight: 68px;
  --heading-h1-letterspacing: -0.5px;
  --heading-h2-fontsize: 48px;
  --heading-h2-lineheight: 58px;
  --heading-h2-letterspacing: -0.4px;
  --heading-h3-fontsize: 40px;
  --heading-h3-lineheight: 48px;
  --heading-h3-letterspacing: -0.3px;
  --heading-h4-fontsize: 32px;
  --heading-h4-lineheight: 38px;
  --heading-h4-letterspacing: -0.2px;
  --heading-h5-fontsize: 24px;
  --heading-h5-lineheight: 30px;
  --heading-h5-letterspacing: -0.15px;
  --heading-h6-fontsize: 20px;
  --heading-h6-lineheight: 24px;
  --heading-h6-letterspacing: 0;

  /* Label (Base Tokens) */
  --label-label-1-fontsize: 16px;
  --label-label-1-lineheight: 22px;
  --label-label-1-letterspacing: -0.18px;
  --label-label-2-fontsize: 14px;
  --label-label-2-lineheight: 20px;
  --label-label-2-letterspacing: -0.16px;
  --label-label-3-fontsize: 12px;
  --label-label-3-lineheight: 16px;
  --label-label-3-letterspacing: -0.12px;

  /* Body (Base Tokens) */
  --body-body-1-fontsize: 18px;
  --body-body-1-lineheight: 28px;
  --body-body-1-letterspacing: 0;
  --body-body-2-fontsize: 16px;
  --body-body-2-lineheight: 24px;
  --body-body-2-letterspacing: 0;
  --body-body-3-fontsize: 14px;
  --body-body-3-lineheight: 20px;
  --body-body-3-letterspacing: 0;
  --body-body-4-fontsize: 12px;
  --body-body-4-lineheight: 16px;
  --body-body-4-letterspacing: 0;

  /* Caption (Base Tokens) */
  --caption-caption-1-fontsize: 10px;
  --caption-caption-1-lineheight: 12px;
  --caption-caption-1-letterspacing: 0;
  --caption-caption-2-fontsize: 9px;
  --caption-caption-2-lineheight: 10px;
  --caption-caption-2-letterspacing: 0;

  /* Desktop (Base Tokens) */
  --desktop-padding: 42px;

  /* Tablet (Base Tokens) */
  --tablet-padding: 36px;

  /* Mobile (Base Tokens) */
  --mobile-padding: 24px;

  /* Colors (Base Tokens) */
  --colors-bg-color: #ffffff;
  --colors-project-color-1: #80bf77;
  --colors-project-color-1-2: #deefe0;
  --colors-body-text: #333333;
  --colors-name-text: #efefef;
  --colors-secondary-color-1: #cccccc;
  --colors-secondary-color-2: #6d6d6d;
  --colors-secondary-color-3: #4c4c4c;
  --colors-primary-color-1: #181818;
  --colors-primary-color-2: #141414;
  --colors-primary-color-3: #101010;
  --colors-primary-color-4: #ffffff;

  /* Title (Aliases) */
  --title-title-1-fontfamily: var(--family-primary);
  --title-title-2-fontfamily: var(--family-primary);
  --title-title-3-fontfamily: var(--family-primary);

  /* Heading (Aliases) */
  --heading-h1-fontfamily: var(--family-primary);
  --heading-h2-fontfamily: var(--family-primary);
  --heading-h3-fontfamily: var(--family-primary);
  --heading-h4-fontfamily: var(--family-primary);
  --heading-h5-fontfamily: var(--family-primary);
  --heading-h6-fontfamily: var(--family-primary);

  /* Label (Aliases) */
  --label-label-1-fontfamily: var(--family-primary);
  --label-label-2-fontfamily: var(--family-primary);
  --label-label-3-fontfamily: var(--family-primary);

  /* Body (Aliases) */
  --body-body-1-fontfamily: var(--family-primary);
  --body-body-2-fontfamily: var(--family-primary);
  --body-body-3-fontfamily: var(--family-primary);
  --body-body-4-fontfamily: var(--family-primary);

  /* Caption (Aliases) */
  --caption-caption-1-fontfamily: var(--family-primary);
  --caption-caption-2-fontfamily: var(--family-primary);

/* Text Styles */
.desktop-section-title {
  font-family: "Blinker", sans-serif;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 1%;
}

.desktop-instuction-text {
  font-family: "Blinker", sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0%;
}

.desktop-hero-name {
  font-family: "Lexend", sans-serif;
  font-size: 70px;
  font-weight: 600;
  line-height: 84px;
  letter-spacing: 0%;
}

.desktop-hero-roles {
  font-family: "Lexend", sans-serif;
  font-size: 42px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 0%;
}

.desktop-nav-link-text-default {
  font-family: "Blinker", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0%;
}

.desktop-project-title-dark {
  font-family: "Lexend", sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0%;
}

.desktop-project-title-light {
  font-family: "Lexend", sans-serif;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0%;
}

.desktop-project-date {
  font-family: "Blinker", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0%;
}

.desktop-project-card-title {
  font-family: "Lexend", sans-serif;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 0%;
}

.desktop-project-card-txt {
  font-family: "Lexend", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0%;
}

.desktop-project-number {
  font-family: "Lexend", sans-serif;
  font-size: 70px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0%;
}
default
.desktop-secondary-button- {
  font-family: "Blinker", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
}

.desktop-footer-touch-link {
  font-family: "Blinker", sans-serif;
  font-size: 42px;
  font-weight: 600;
  letter-spacing: 0%;
}

.tablet-section-title {
  font-family: "Blinker", sans-serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.5%;
}

.tablet-instuction-text {
  font-family: "Blinker", sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0%;
}

.tablet-hero-name {
  font-family: "Lexend", sans-serif;
  font-size: 70px;
  font-weight: 600;
  line-height: 84px;
  letter-spacing: 0%;
}

.tablet-hero-roles {
  font-family: "Lexend", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 0%;
}

.tablet-nav-link-text-default {
  font-family: "Blinker", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0%;
}

.tablet-project-title-dark {
  font-family: "Lexend", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0%;
}

.tablet-project-title-light {
  font-family: "Lexend", sans-serif;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0%;
}

.tablet-project-date {
  font-family: "Blinker", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0%;
}

.tablet-project-card-title {
  font-family: "Lexend", sans-serif;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0%;
}

.tablet-project-card-txt {
  font-family: "Lexend", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0%;
}

.tablet-project-number {
  font-family: "Lexend", sans-serif;
  font-size: 64px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0%;
}

.tablet-secondary-button-default {
  font-family: "Blinker", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0%;
}

.tablet-footer-touch-link {
  font-family: "Blinker", sans-serif;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0%;
}

.mobile-section-title {
  font-family: "Blinker", sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1%;
}

.mobile-instuction-text {
  font-family: "Blinker", sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0%;
}

.mobile-nav-link-text-default {
  font-family: "Blinker", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0%;
}

.mobile-nav-link-text-hover {
  font-family: "Blinker", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0%;
}

.mobile-hero-name {
  font-family: "Lexend", sans-serif;
  font-size: 52px;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: 0%;
}

.mobile-hero-roles {
  font-family: "Lexend", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
}

.mobile-project-title-dark {
  font-family: "Lexend", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0%;
}

.mobile-project-title-light {
  font-family: "Lexend", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0%;
}

.mobile-project-date {
  font-family: "Blinker", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0%;
}

.mobile-project-card-title {
  font-family: "Lexend", sans-serif;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 0%;
}

.mobile-project-card-txt {
  font-family: "Lexend", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0%;
}

.mobile-project-number {
  font-family: "Lexend", sans-serif;
  font-size: 70px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0%;
}

.mobile-secondary-button-default {
  font-family: "Blinker", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
}

.mobile-footer-touch-link {
  font-family: "Blinker", sans-serif;
  font-size: 42px;
  font-weight: 600;
  letter-spacing: 0%;
}


/* Effect Styles */
.mobile-secondary-button {
  box-shadow: inset 0px 8px 24px -18px rgba(24, 24, 24, 0.30000001192092896);
}

.mobile-project-row-hover {
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.18000000715255737);
}

.mobile-project-row-selected {
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.23999999463558197);
}

.tablet-secondary-button {
  box-shadow: inset 0px 8px 24px -18px rgba(24, 24, 24, 0.30000001192092896);
}

.tablet-project-row-hover {
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.18000000715255737);
}

.tablet-project-row-selected {
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.23999999463558197);
}

.desktop-project-row-hover {
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.18000000715255737);
}

.desktop-project-row-selected {
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.23999999463558197);
}

.desktop-secondary-button-hover {
  box-shadow: inset 0px 8px 24px -18px rgba(24, 24, 24, 0.30000001192092896);
}

}

